body {
  transition: all 1s; }

#nevigation .navbar {
  background: #FFFFFF; }

#nevigation a {
  font-family: Agency FB;
  color: #000;
  margin-left: 15px;
  font-weight: bold;
  font-size: 36px; }

#body-part {
  background: url("../img/background.png");
  background-size: cover;
  min-height: 520px; }
  #body-part .overlay {
    background: url("../img/overlay.png");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 520px; }
  #body-part h1 {
    font-weight: bold;
    font-size: 60px; }
  #body-part p {
    font-size: 25px; }
  #body-part a {
    padding: 7px 45px 7px 45px;
    background: #fff;
    font-size: 30px;
    color: #000;
    border-radius: 18px; }
  #body-part a:hover {
    text-decoration: none; }

#product-page h2 {
  font-size: 30px; }

#product-page p {
  font-size: 20px; }

#product-page .col-md-4 {
  width: 350px;
  margin: 0 auto; }

#about-page {
  background: #E5E5E5; }
  #about-page p {
    font-size: 20px; }

#testomonial .slick-prev::before,
#testomonial .slick-next::before {
  background: #000;
  color: #fff;
  padding: 2px;
  padding-bottom: 4px; }

#testomonial img {
  float: left;
  width: 140px;
  height: 140px; }

#testomonial p {
  margin-left: 150px;
  font-size: 18px; }

#testomonial h5 {
  margin-left: 126px;
  font-size: 28px; }

#gallery {
  background: #E5E5E5; }
  #gallery .button a {
    padding: 6px 30px 8px 30px;
    background: #fff;
    font-size: 30px;
    margin-left: 20px;
    color: #000;
    border-radius: 18px; }
  #gallery .button a:hover {
    text-decoration: none; }
  #gallery img {
    height: 100%;
    width: 100%; }

#contact .quick-links a {
  color: #000;
  font-size: 18px; }

#contact p {
  font-size: 18px; }

#contact a {
  color: #000; }

#contact .social-link a:hover {
  color: red; }

@media (max-width: 650px) {
  #testomonial img {
    float: none;
    width: 120px;
    height: 120px; }
  #testomonial p {
    margin-left: 0px; }
  #testomonial h5 {
    margin-left: -25px; } }
